<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Feb 01 2022 04:05:08 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="61f8a7b67bd110135704be59" data-wf-site="61f8a7b57bd110997504be51">
<head>
  <meta charset="utf-8">
  <title>{{name}} | Blog</title>
  <meta content="{{post-summary}}" name="description">
  <meta content="{{name}}" property="og:title">
  <meta content="{{post-summary}}" property="og:description">
  <meta content="{{main-image.url}}" property="og:image">
  <meta content="{{name}}" property="twitter:title">
  <meta content="{{post-summary}}" property="twitter:description">
  <meta content="{{main-image.url}}" property="twitter:image">
  <meta property="og:type" content="website">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/edwins-demo2win.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Fjalla One:regular"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="sidebar-column"><img src="images/edwin8bits.png" loading="lazy" sizes="(max-width: 479px) 96vw, (max-width: 767px) 97vw, (max-width: 991px) 96vw, 24vw" srcset="images/edwin8bits-p-500.png 500w, images/edwin8bits-p-800.png 800w, images/edwin8bits-p-1080.png 1080w, images/edwin8bits-p-1600.png 1600w, images/edwin8bits-p-2000.png 2000w, images/edwin8bits-p-2600.png 2600w, images/edwin8bits.png 2800w" alt="">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation-bar w-nav">
      <div class="w-container">
        <a href="#" class="logo-link w-nav-brand">
          <h1 class="logo-text">FINDING<br>PURPOSE<br>WITH<br>DORA4 </h1>
        </a>
        <nav role="navigation" class="navigation-menu w-nav-menu">
          <p class="main-subheading w-hidden-medium w-hidden-small w-hidden-tiny">&quot;If you can’t measure it you can’t improve it&quot;</p>
          <div class="divider w-hidden-medium w-hidden-small w-hidden-tiny"></div>
          <a href="index.html" class="nav-link w-nav-link">Deploy frequency</a>
          <a href="/all-posts" class="nav-link w-nav-link">load times for change</a>
          <a href="/about" class="nav-link w-nav-link">time to restore service</a>
          <a href="/contact" class="nav-link w-nav-link">change failure rate</a>
          <div class="divider"></div>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="w-container">
      <div class="post-title-section">
        <h1></h1>
        <div class="post-info-wrapper">
          <div class="post-info"></div>
          <div class="post-info">|</div>
          <a href="#" class="post-info when-link"></a>
        </div>
      </div>
      <div class="body-copy w-richtext">
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <h2>On deer horse aboard tritely yikes and much</h2>
        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
        <ul role="list">
          <li>This however showed weasel</li>
          <li>Well uncritical so misled</li>
          <li>Goodness much until that fluid owl</li>
        </ul>
        <p data-new-link="true">When she reached the first hills of the <strong>Italic Mountains</strong>, she had a last view back on the skyline of her hometown <em>Bookmarksgrove</em>, the headline of <a href="#">Alphabet Village</a> and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
        <h3>Overlaid the jeepers uselessly much excluding</h3>
        <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with <a href="#">Longe and Parole</a> and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her.</p>
        <blockquote>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. </blockquote>
        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        <h3>According a funnily until pre-set or arrogant well cheerful</h3>
        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
        <ol role="list">
          <li>So baboon this</li>
          <li>Mounted militant weasel gregariously admonishingly straightly hey</li>
          <li>Dear foresaw hungry and much some overhung</li>
          <li>Rash opossum less because less some amid besides yikes jeepers frenetic impassive fruitlessly shut</li>
        </ol>
        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
        <blockquote>The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word &quot;and&quot; and the Little Blind Text should turn around and return to its own, safe country.</blockquote>
        <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <h4>Silent delightfully including because before one up barring chameleon</h4>
        <figure style="max-width:60%" class="w-richtext-align-center w-richtext-figure-type-image">
          <div><img src="https://daks2k3a4ib2z.cloudfront.net/5630650d792da40716871a07/56cf68a9e668d307046b496e_photo-1433763472432-7970c9ba5349-bw.jpg" alt=""></div>
          <figcaption>This is a caption</figcaption>
        </figure>
        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
        <h5>Wherever far wow thus a squirrel raccoon jeez jaguar this from along</h5>
        <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.</p>
        <h6>Slapped cozy a that lightheartedly and far</h6>
        <p>The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word &quot;and&quot; and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again.</p>
      </div>
      <div class="body-copy w-richtext"></div>
      <div class="button-wrapper">
        <a href="/all-posts" class="button w-button">← View all posts</a>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61f8a7b57bd110997504be51" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>